body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;

}

.box {
    border: 1px solid black;
    box-sizing: border-box;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-bottom: -5px;
    
}

.container{
    width: 500px;
    height: 500px;
}

button{
    width: 50px;
    margin-bottom: 10px;
}

